<div class="mainContent">
    <div class="container-fluid">
        <div class="row bg-orange d-flex justify-content-center align-items-center">
            <div class="col-md-10 col-lg-8">
                <h5 class="titulo-cima mt-1">Anais do Simpósio Latino Americano de Ciências de Alimentos</h5>
                <ul class="list-inline text-light">
                    <li class="list-inline-item"><h2 class="titulo-meio">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2></li>
                    <li class="list-inline-item d-block mt-n2">ISSN: 1234-5678</li>
                </ul>
            </div>
            <div class="col-md-2 col-lg-4 d-flex justify-content-center align-items-center">
                <div class="welcome-dropdown">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle me-3" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-globe"></i> PT, BR
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">ES, ES</a>
                            <a class="dropdown-item" href="#">EN, US </a>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="welcome-text">Bem-vindo!</div>
                        <div class="email-text">exemplo&#64;gmail.com</div>
                    </div>
                    <div class="user-photo"></div>
                </div>
            </div>
        </div>
    </div>
</div>