<div class="content-area">
    <div class="section-area d-flex flex-wrap">
        <div class="left-section col-12 col-md-6">
            <h2 class="titulo">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
        </div>
        <div class="right-section col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="buttons-section d-flex ms-auto">
                <button class="btn btn-orange"><i class="fa-solid fa-download white-icon"></i> Download</button>
                <button class="btn btn-orange-star"><i class="fa-solid fa-star white-icon"></i></button>
                <button class="btn btn-orange-doi"><img class="doi-img" src="https://cdn.discordapp.com/attachments/1225887439864725546/1226289707554701322/doi-icon-2048x2048-tozwf629.png?ex=66243a49&is=6611c549&hm=4fa2d0d047cc2676a6004b4ef78ccae555d203041bd5e6f6ded96c302d022327&"></button>
            </div>
            <p class="d-block ms-auto">COMO CITAR ESTE TRABALHO?</p>
        </div>
    </div>
    <div class="section-area d-flex flex-wrap mt-1">
        <div class="left-section col-12 col-md-6">
            <img src="https://cdn.discordapp.com/attachments/1225887439864725546/1226263080506228808/video_apresentacao.png?ex=6624217d&is=6611ac7d&hm=faecc23704ac88ca8e76837e6395f7984f25d62fe883c36dbc4de70f74475ea0&">
        </div>
        <div class="right-section col-12 col-md-6 d-block flex-grow-1">
            <div class="details-section mt-auto ms-auto">
                <h2 class="details-title">Detalhes</h2>
                <div class="details-content">
                    <p class="detalhes">Tipo de Apresentação: <strong>Pôster</strong></p>
                    <p class="detalhes">Eixo Temático: <strong>Alimentação e Saúde (AS)</strong></p>
                    <p class="detalhes">Palavras-chave: <strong>Alimentos Funcionais, Alimentação Escolar.</strong> </p>
                    <h2 class="authors">Autores</h2>
                    <p class="detalhes">Galileo Galilei¹</p>
                    <p class="detalhes">Berta Lange de Morretes²</p>
                    <p class="detalhes">Isaac Newton³</p>
                    <p class="detalhes">Cesar Lattes⁴</p>
                    <p class="detalhes">Stephen Hawking⁵</p>
                    <p class="locais">¹Universidade Estadual de Campinas</p>
                    <p class="locais">²Universidade de São Paulo</p>
                    <p class="locais">³Instituto Nacional de Pesquisas Espaciais</p>
                    <p class="locais">⁴Universidade Federal do Rio de Janeiro</p>
                </div>
            </div>
        </div>
    </div>
    <div class="resumo">
        <h1 class="resumo-title"> Resumo</h1>
        <p *ngIf="!expandedText btn-show-more" id="textoCurto"
            class="resumo-text">Lorem ipsum
            dolor sit amet. Et rerum fugiat est tempora corporis est beatae
            sequi sit consequatur ratione qui recusandae harum. Quo illum vitae
            ab sapiente pariatur rem aspernatur harum eum eligendi facere et
            magni aliquid eos amet... <a class="btn btn-show-more"
                (click)="expandirTexto()">ver mais</a></p>
        <div *ngIf="expandedText">
            <p class="resumo-text">
                Lorem ipsum dolor sit amet. Et rerum fugiat est tempora corporis
                est beatae sequi sit consequatur ratione qui recusandae harum.
                Quo illum vitae ab sapiente pariatur rem aspernatur harum eum
                eligendi facere et magni aliquid eos amet consequuntur!

                Eos reprehenderit quae ab voluptas nobis ut voluptas esse. Ut
                quam eligendi 33 alias excepturi et velit quae qui voluptatem
                Quis non officiis maxime rem doloribus earum cum illo quibusdam.
                Eos incidunt quae in quaerat enim sit molestiae quam sit amet
                odit 33 totam quisquam ut ipsam quidem. Ab doloribus error ea
                perspiciatis molestiae 33 reprehenderit blanditiis ut debitis
                illum qui fuga doloremque quo facilis sapiente et molestiae
                nisi!

                Et facilis itaque ea dignissimos vero hic explicabo quas et quia
                dolor id rerum quod. Ut obcaecati animi nam voluptate aliquam 33
                corrupti sapiente eum consequuntur omnis et earum minima aut
                aspernatur consectetur? Ut fugiat dolorem cum quisquam
                repudiandae ut perspiciatis fugiat sit autem sunt et consequatur
                esse vel perferendis vitae. Et internos omnis sit voluptate
                aliquam et perspiciatis sint et vero molestiae et laudantium
                quia.
            </p>
        </div>
    </div>
    <div class="disc">
        <h1 class="disc-title">Discussões</h1>
        <div class="disc-padrao" *ngIf="inicialText">
            <h4 class="disc-subtitle text-center"> Compartilhe suas ideias ou
                dúvidas com os autores!</h4>
            <div class="disc-icons">
                <img class="disc-img"
                    src="https://cdn.discordapp.com/attachments/1225887439864725546/1226324785940660274/icone1.png?ex=66245af4&is=6611e5f4&hm=55f560898877d101cd461b2a6a16c6889db30f2ebba8a2c016313be6f8f8cf4e&"
                    alt>
                <img class="disc-img"
                    src="https://cdn.discordapp.com/attachments/1225887439864725546/1226324822947139715/icone2.png?ex=66245afd&is=6611e5fd&hm=4d70ecb4daf719e485cf61e2e91d4dad1a96b78c2d401083d4d6f196ccf51a4a&">
                <img class="disc-img"
                    src="https://cdn.discordapp.com/attachments/1225887439864725546/1226324854068875424/icone3.png?ex=66245b05&is=6611e605&hm=9349a498795de3be02c4e77e840c8da8cfaeedf95be3437786e2f723962955c5&"
                    alt>
            </div>
            <div class="disc-Tarea">
                <p class="disc-text text-center">Sabia que o maior estímulo no
                    desenvolvimento científico e cultural é a curiosidade? Deixe
                    seus questionamentos ou sugestões para o autor!</p>
            </div>
        </div>
        <div class="disc-criar" *ngIf="criarText">
            <p class="text-center">Tem uma dúvida ou sugestão? Compartilhe seu
                feedback com os autores!</p>
            <form>
                <div class="mb-3">
                    <label for="assunto" class="form-label">Assunto</label>
                    <input type="text" class="form-control subject" id="assunto"
                        name="assunto"
                        placeholder="Defina um tópico sucinto para notificar os autores...">
                       
                </div>
                <div class="mb-3">
                    <label for="conteudo" class="form-label">Conteúdo</label>
                    <textarea class="form-control" id="conteudo" name="conteudo"
                        rows="5"></textarea>
                </div>
                <div class="button-container" (click)="mostrarConcluido()">
                    <button class="btn btn-create-topic" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div class="disc-concluir" *ngIf="mostrarConclusao">
            <h4 class="disc-subtitle text-center">Seu tópico foi enviado com
                sucesso! :D</h4>
            <p class="disc-text text-center">Agradecemos por sua contribuição,
                uma notificação será enviada ao seu email assim que seu tópico
                for respondido!</p>
            <a href="#"><p class="disc-concluir text-center">Descubra outros
                    trabalhos!</p></a>
        </div>
    </div>
    <div class="criar-topico" *ngIf="mostrarBotaoCriar">
        <button class=" btn btn-criar btn-create-topic"
            (click)="mostrarElementos()"><i
                class="fa-solid fa-plus"></i>criar tópico</button>
    </div>
    <div class="pergunta3 ops-topic-subject" *ngIf="mostrarPergunta">
        <div class="answered-topic">
            <h4 class="titulo-pergunta ops-topic-subject"> Assunto da pergunta aparece aqui</h4>
        </div>
        <p class="nome-pergunta"> Carlos Henrique Santos</p>
        <p class="texto-pergunta">Comecinho da pergunta aparece aqui resente
            relato inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo
            processo...</p>
        <div class="icons-pergunta">
            <i class="fa-solid fa-ellipsis-vertical"></i> <i
                class="fa-solid fa-heart"></i><p class="like"> 1 Like</p><p
                class="like"> 1 Resposta</p>
        </div>
        <div class="blur-effect">
            <div class="blur-text">
                <i class="fa-solid fa-check-double"></i>
                <p class="texto-blur">Aguardando feedback dos autores</p>
                <a href="#" class="editar-topico">Editar tópico</a>
            </div>
        </div>
    </div>

    <div class="pergunta ops-topic-subject">
        <!-- <div class="answered-topic"> -->
            <h4 class="titulo-pergunta " id="pergunta1"> Assunto da pergunta aparece aqui</h4>
        <!-- </div> -->
        <p class="nome-pergunta"> Carlos Henrique Santos</p>
        <p class="texto-pergunta">Comecinho da pergunta aparece aqui resente
            relato inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo
            processo...</p>
        <div class="icons-pergunta">
            <i class="fa-solid fa-ellipsis-vertical"></i> <i
                class="fa-solid fa-heart"></i><p class="like"> 1 Like</p><p
                class="like">1 Resposta</p>
        </div>
    </div>
    <!-- <div class="comments-container">
        <div class="resposta collapse" id="resposta1">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="titulo-pergunta">Adriano da Silva</h4>
                <div class="ms-auto d-flex align-items-center">
                    <p class="m-0 me-3">Autor</p>
                    <i class="fa-solid fa-check-double orange"></i>
                </div>
            </div>
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise
                da
                dimensão e impacto de processo formativo situado impacto de
                processo
                formativo processo resente relato inscreve-se no campo da
                análise da
                dimensão e impacto de processo formativo situado impacto de
                processo
                formativo processo.</p>
        </div>
    </div> -->

    <div class="pergunta ops-topic-subject ops-topic-subject">
        <div class="answered-topic">
            <a  data-bs-toggle="collapse"
            data-bs-target=".multi-collapse"><h4 class="titulo-pergunta ops-topic-subject"> Assunto da pergunta aparece aqui</h4></a>
        </div>
        <p class="nome-pergunta"> Carlos Henrique Santos</p>
        <p class="texto-pergunta">Comecinho da pergunta aparece aqui resente
            relato inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo
            processo...</p>
        <div class="icons-pergunta">
            <i class="fa-solid fa-ellipsis-vertical"></i> <i
                class="fa-solid fa-heart"></i><p class="like"> 1 Like</p><p
                class="like" data-bs-toggle="collapse"
                data-bs-target=".multi-collapse">4 Respostas</p>
        </div>
    </div>
    <div class="comments-container">
        <div class="resposta collapse multi-collapse">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="titulo-pergunta">Adriano da Silva</h4>
                <div class="ms-auto d-flex align-items-center">
                    <p class="m-0 me-3">Autor</p>
                    <i class="fa-solid fa-check-double orange"></i>
                </div>
            </div>
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise
                da
                dimensão e impacto de processo formativo situado impacto de
                processo
                formativo processo resente relato inscreve-se no campo da
                análise da
                dimensão e impacto de processo formativo situado impacto de
                processo
                formativo processo.</p>
        </div>
        <div class="resposta-pergunta collapse multi-collapse">
            <p class="nome-colapse"> Carlos Henrique Santos</p>
            <p class="texto-colapse">Consegui entender melhor agora! Parece que
                a
                variação da análise da dimensão e impacto de processo formativo
                situado impacto de processo formativo.
                Obrigada pela resposta, muito interessante o seu trabalho! </p>
        </div>
        <div class="resposta collapse multi-collapse">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="titulo-pergunta">Carmila Ferreira Andrade</h4>
                <div class="ms-auto d-flex align-items-center">
                    <p class="m-0 me-3 orange">Coautor</p>
                    <i class="fa-solid fa-check-double orange"></i>
                </div>
            </div>
            <p>Também ínteressante lembrar que o relato inscreve-se no campo da
                análise da dimensão e impacto de processo formativo situado
                impacto
                de processo formativo processo resente relato inscreve-se no
                campo
                da análise da dimensão e impacto de processo formativo situado
                impacto de processo formativo processo.

                Situado impacto de processo formativo processo resente relato
                inscreve-se no campo da análise da dimensão e impacto de
                processo
                formativo situado impacto de processo formativo processo.</p>
        </div>
        <div class="resposta collapse multi-collapse">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="titulo-pergunta">Ana Carolina</h4>
                <div class="ms-auto d-flex align-items-center">
                    <p class="m-0 me-3 orange">Coautor</p>
                    <i class="fa-solid fa-check-double orange"></i>
                </div>
            </div>
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise
                da
                dimensão e impacto de processo formativo situado impacto de
                processo
                formativo processo resente relato inscreve-se no campo da
                análise da
                dimensão e impacto de processo formativo situado impacto de
                processo
                formativo processo.</p>
        </div>
    </div>

</div>
