<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <!-- Links da sidebar -->
        <li class="nav-item">
          <div class="tituloNav">
            <h1 class="text-center" id="titulo">SLACA 2019</h1>
          </div>
        </li>
        <li class="nav-item">
          <img class="imgNav" src="https://cdn.discordapp.com/attachments/1225887439864725546/1225887508592590971/13Slaca.jpg?ex=6622c3b5&is=66104eb5&hm=943938305fde9bbd5d5722a0ea214791945989d971cb4b7e2d96730e30d7d6bf&">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:presentation"></span>
            Apresentação
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:cog"></span>
            Comitês
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:user"></span>
            Autores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:circle"></span>
            Eixos temáticos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:book"></span>
            Trabalhos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:envelope"></span>
            Contato SLACA 2019
          </a>
        </li>
      </ul>
    </div>
  </nav>
