<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <!-- Links da sidebar -->
        <li class="nav-item">
          <div class="tituloNav">
            <h1 class="text-center" id="titulo">SLACA 2019</h1>
          </div>
        </li>
        <li class="nav-item">
          <img class="imgNav" src="https://cdn.discordapp.com/attachments/1225887439864725546/1226312172989190195/dewey_4.png?ex=66244f35&is=6611da35&hm=3073ddfcb168399f8c012135172e8558c902ed4b82d62fa43e2d7a61b1ea8947&">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:presentation"></span>
            Apresentação
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:cog"></span>
            Comitês
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:user"></span>
            Autores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:circle"></span>
            Eixos temáticos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:book"></span>
            Trabalhos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="iconify" data-icon="uil:envelope"></span>
            Contato SLACA 2019
          </a>
        </li>
      </ul>
    </div>
  </nav>
