.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  width: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.tituloNav {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #FF9800, #FF7043);
  padding: 12px;
  width: 100%;
  max-width: 240px;
  color: white;
  box-sizing: border-box;
  font-size: 10px;
}

#titulo {
  font-size: 30px;
}

.nav-list {
  margin-top: 72px;
}

.imgNav {
  width: 240px;
}

.nav-link {
  color: #733D11;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
}
.nav-item:hover{
  background-color: #FDF1EB;
}