<footer>
    <div class="container">
    <div class="logo-button">
        <div class="logo">
            <img  class="galoa-logo" src="https://cdn.discordapp.com/attachments/1225887439864725546/1226342939274510347/galoa.png?ex=66246bdd&is=6611f6dd&hm=c5460cf1dd975cb52587915d01c640785d102dc338b7facd74ece6bec9dd0753&">
          </div>
          <div class="button">
            <button class="">Saiba Mais</button>
          </div>
        </div>
        <div class="content">
            <p><strong>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</strong> gerado em eventos é a razão de ser da plataforma Galoá Proceedings.</p>
            <p>Os trabalhos publicados aqui têm maior alcance e ficam disponíveis para toda a comunidade científica, mantendo o debate científico fomentado pelos encontros e aumentando o impacto do evento.</p>
          </div>
    </div>
      
  </footer>
  
